@media (max-width:1200px ) {
    .nav {
        display: none;
    }

    .collection-image img {
        margin: 0 0 0 0;
    }
    .models .row {
        display: grid;
    }
    .presents {
        display: inline-grid;
        justify-content: end;
    }
    .footer-menu-logo {
        display: grid;
    }
}